*{
    font-family: sans-serif;
}
.section{
    background: #000;
    display: flex;
}
    .articulos{
        background: #f7f7f7;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
    .article{
        flex: 1 1 40%;
        color: #444;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 10px 10px 0 0px;
        flex: 1 1 45%;
        background: #ececec;
    }
    .article img{
        width: 100%;
    }
    .article a{
        color: rgb(199, 194, 194);
        font-size: 13px;
        padding: 10px;
        margin: 10px 0;
        display: inline-block;
    }
    .article a:hover{
        background: rgb(226, 109, 109);
    }
    h3{
        color: #fff;
        font-size: 13px;
        padding: 2px 0;
        margin-top: -20px;
    }
    h2{
        font-size: 25px;
        padding: 10px 0 0px 0;
        color: #fff;
        background: rgb(226, 109, 109);
        margin-top: -20px;
    }
