* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.menu-navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.logo{
    height: 80px;
}
.logo img{
    display: block;
    height: 100%;
    margin-left:50px;
}
.enlaces li{
    list-style: none;
    display: inline-block;
}
.enlaces a{
    text-decoration: none;
    color:#777777;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
.fas{
    color: #777777;
    padding-left: 15px;
}
.boton:hover{
    background:#e66b7fc2;
}
.boton{
    border:solid 0px;
    background: snow;
}
.far{
    color:#777777;
    padding-left: 15px;
}
.fab{
    color: #777777;
    padding-right: 100px;
    padding-left: 15px;
}
.fab:hover{
    background: rgba(100, 100, 199, 0.671);
}
.social i{
    list-style: none;
    display: block;
    margin:15px;
}
.img{
    height: 475px;
    background-image: url("img/Activitat\ Flex\ -\ Nivell\ 2\ -\ fons\ capçalera.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.img h1{
    font-size: 35px;
    font-weight: 700;
}
.contenedor-texto{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#e66b80;
    opacity: 0.5;
}
@media all and (max-width: 1024px){
    .menu-navegacion{
        display: inline-flex;
    }
}
@media all and (max-width: 768px){
    .menu-navegacion{
        height: auto;
    }
    .menu{
        display:inline-flex;
    }
}